<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>tp2</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>liste_produit</display-name>
		<servlet-name>liste_produit</servlet-name>
		<servlet-class>liste_produit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>liste_produit</servlet-name>
		<url-pattern>/liste_produit</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>edit</display-name>
		<servlet-name>edit</servlet-name>
		<servlet-class>edit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>edit</servlet-name>
		<url-pattern>/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddProductServlet</display-name>
		<servlet-name>AddProductServlet</servlet-name>
		<servlet-class>AddProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddProductServlet</servlet-name>
		<url-pattern>/AddProductServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EditProductServlet</display-name>
		<servlet-name>EditProductServlet</servlet-name>
		<servlet-class>EditProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditProductServlet</servlet-name>
		<url-pattern>/EditProductServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteProductServlet</display-name>
		<servlet-name>DeleteProductServlet</servlet-name>
		<servlet-class>DeleteProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteProductServlet</servlet-name>
		<url-pattern>/DeleteProductServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ListProductsServlet</display-name>
		<servlet-name>ListProductsServlet</servlet-name>
		<servlet-class>ListProductsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListProductsServlet</servlet-name>
		<url-pattern>/ListProductsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EditProduct</display-name>
		<servlet-name>EditProduct</servlet-name>
		<servlet-class>EditProduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditProduct</servlet-name>
		<url-pattern>/EditProduct</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdateProduct</display-name>
		<servlet-name>UpdateProduct</servlet-name>
		<servlet-class>UpdateProduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateProduct</servlet-name>
		<url-pattern>/UpdateProduct</url-pattern>
	</servlet-mapping>
</web-app>